* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: rgb(14, 34, 95);

}

main {
    background-color: seagreen;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 10px 10px black;

}
